$primary-color: #101010;
$darker-color: #181818;
$darkest-color: #121212;
$lighter-color: #666;
$secundary-color: #ff8800;
$text-color: #d3d3d3;
$background-color: #1c1c1c;
$windows-color: #00a2ed;
$psn-color: #006fcd;
$xbl-color: #0e7a0d;
$error-color: #d8000c;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.hide {
	display: none;
}
body {
	font-family: 'Overpass', sans-serif;
	background: $background-color url('../img/background.jpg') no-repeat center
		center;
	background-attachment: fixed;
	background-size: cover;
	.header-nav {
		padding: 0px 8px;
		background-color: $primary-color;
		.main-nav {
			.search,
			.github,
			.search-bar,
			.close-search-bar {
				font-size: 18px;
				float: right;
			}
			a {
				text-decoration: none;
				display: inline-block;
				color: $text-color;
				height: 60px;
				padding: 0px 12px;
				line-height: 65px;
				font-size: 20px;
				transition: ease-in-out 0.1s;
				&:hover {
					background-color: lighten(
						$color: $primary-color,
						$amount: 4
					);
					border-bottom: 1px solid $text-color;
				}
			}
			.search,
			.close-search-bar {
				cursor: pointer;
				display: inline-block;
				color: $text-color;
				height: 60px;
				padding: 0px 12px;
				line-height: 65px;
				font-size: 18px;
				&:hover {
					background-color: lighten(
						$color: $primary-color,
						$amount: 4
					);
					border-bottom: 1px solid $text-color;
				}
			}
			.search {
				padding-left: 10px;
				i {
					margin: 2px 0px 0px 2px;
				}
			}
			.hide-search-bar {
				display: none;
			}
			.close-search-bar {
				width: 48px;
			}
			.search-bar {
				form {
					table {
						width: 100%;
						border-collapse: collapse;
						.platformbox {
							height: 60px;
							width: 40px;
							text-align: center;
							color: $lighter-color;
							.radio {
								display: inline-block;
								cursor: pointer;
								input {
									display: none;
									transition: ease-in-out 0.1s;
									&:checked + span.uplay {
										transition: ease-in-out 0.1s;
										background-color: $windows-color;
										color: $text-color;
										box-shadow: inset 0px 0px 10px 5px
											rgba($color: #000, $alpha: 0.5);
									}
									&:checked + span.psn {
										transition: ease-in-out 0.1s;
										background-color: $psn-color;
										color: $text-color;
										box-shadow: inset 0px 0px 10px 5px
											rgba($color: #000, $alpha: 0.5);
									}
									&:checked + span.xbl {
										transition: ease-in-out 0.1s;
										background-color: $xbl-color;
										color: $text-color;
										box-shadow: inset 0px 0px 10px 5px
											rgba($color: #000, $alpha: 0.5);
									}
									&:hover + span {
										transition: ease-in-out 0.1s;
										background-color: lighten(
											$color: $primary-color,
											$amount: 4
										);
									}
								}
								span {
									height: 60px;
									width: 40px;
									padding-top: 21px;
								}
							}
						}
						.search-player-input {
							background-color: transparent;
							width: 100%;
							border: none;
							height: 60px;
							padding: 4px 10px 0px 16px;
							color: #ccc;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.main-page {
		max-width: 1200px;
		margin: 0px auto;
		.rainbowsix-logo {
			margin-top: 15vh;
			margin-bottom: 5vh;
			height: 20vh;
			background: url(../img/rainbowsix-logo.png) no-repeat center center;
		}
		.container-left {
			height: calc(60vh - 180px);
			display: inline-block;
			width: 67%;
			margin-right: -4px;
			margin-bottom: -4px;
			vertical-align: top;
			padding: 0px 8px;
			.searchbox {
				background-color: $primary-color;
				height: 60px;
				width: 100%;
				margin-bottom: 10px;
				overflow: hidden;
				border-top: 1px solid $secundary-color;
				form {
					table {
						width: 100%;
						border-collapse: collapse;
						.platformbox {
							height: 60px;
							width: 40px;
							text-align: center;
							color: $lighter-color;
							.radio {
								display: inline-block;
								cursor: pointer;
								input {
									display: none;
									transition: ease-in-out 0.1s;
									&:checked + span.uplay {
										transition: ease-in-out 0.1s;
										background-color: $windows-color;
										color: $text-color;
										box-shadow: inset 0px 0px 10px 5px
											rgba($color: #000, $alpha: 0.5);
									}
									&:checked + span.psn {
										transition: ease-in-out 0.1s;
										background-color: $psn-color;
										color: $text-color;
										box-shadow: inset 0px 0px 10px 5px
											rgba($color: #000, $alpha: 0.5);
									}
									&:checked + span.xbl {
										transition: ease-in-out 0.1s;
										background-color: $xbl-color;
										color: $text-color;
										box-shadow: inset 0px 0px 10px 5px
											rgba($color: #000, $alpha: 0.5);
									}
									&:hover + span {
										transition: ease-in-out 0.1s;
										background-color: lighten(
											$color: $primary-color,
											$amount: 4
										);
									}
								}
								span {
									height: 60px;
									width: 40px;
									padding-top: 21px;
								}
							}
						}
						.search-player-input {
							background-color: transparent;
							width: 100%;
							border: none;
							height: 60px;
							padding: 4px 10px 0px 16px;
							color: #ccc;
							font-size: 20px;
						}
					}
				}
			}
			.results {
				width: 100%;
				margin-bottom: 10px;
				overflow: hidden;
				border-top: 1px solid $secundary-color;
				.h2-results {
					background-color: $primary-color;
					h2 {
						height: 40px;
						width: 100%;
						color: $text-color;
						font-size: 16px;
						font-weight: normal;
						padding-top: 10px;
						padding-left: 16px;
					}
				}
				.players {
					a {
						text-decoration: none;
						color: $text-color;
						.playerstats {
							padding: 10px;
							cursor: pointer;
							display: flex;
							transition: ease-in-out 0.1s;
							&:nth-child(odd) {
								background: rgba(
									$color: $darker-color,
									$alpha: 0.99
								);
							}
							&:nth-child(even) {
								background: rgba(
									$color: $primary-color,
									$alpha: 0.99
								);
							}
							&:hover {
								background-color: $darkest-color;
							}
							.rank-logo {
								width: 40px;
								height: 40px;
								margin-right: 8px;
							}
							.stats {
								margin-left: 8px;
								.prev-stats {
									font-size: 14px;
									display: flex;
									.level {
										padding-right: 8px;
									}
									p {
										min-width: 70px;
										.aternate-text {
											color: #666;
										}
									}
								}
							}
						}
					}
					.error-message {
						padding: 10px;
						transition: ease-in-out 0.1s;
						color: $error-color;
						background: rgba($color: $darker-color, $alpha: 0.99);
						height: 60px;
						font-size: 16px;
						h4 {
							padding-left: 7px;
						}
						p {
							padding-left: 6px;
							font-size: 14px;
						}
					}
				}
			}
		}
		.container-right {
			padding: 0px 8px;
			display: inline-block;
			width: 33%;
			margin-bottom: 10px;
			text-decoration: none;
			color: $text-color;
			.header-container-right {
				width: 100%;
				overflow: hidden;
				border-top: 1px solid $secundary-color;
				height: 40px;
				background-color: $primary-color;
				h2 {
					height: 40px;
					width: 100%;
					font-size: 16px;
					font-weight: normal;
					padding-top: 10px;
					padding-left: 16px;
				}
			}
			.content-container-right {
				padding: 10px;
				background: rgba($color: $darker-color, $alpha: 0.99);
				min-height: 50px;
				color: #666;
			}
		}
	}
	.footer {
		color: $text-color;
		position: fixed;
		bottom: 0px;
		width: 100%;
		height: 120px;
		background-color: $primary-color;
		.footer-content {
			margin: 0px auto;
			padding: 20px 8px;
			.footer-ul {
				padding: 0px 12px;
				.footer-li {
					text-align: right;
					list-style: none;
					font-size: 14px;
					a {
						color: $text-color;
						text-decoration: none;
					}
				}
			}
			.trademark {
				color: $lighter-color;
				font-size: 11px;
				text-align: center;
			}
		}
	}
}
